<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>

<body>
    <%- include('navbar'); %>

        <!--Conteudo-->
        <div class="container mt-5 mb-5">


            <h2 class="fw-bold nomeFruteira">Frutas:</h2>

            <div class="row g-3 mt-5">



                <hr class="mt-3">
                <% dadosProdutos.forEach(function(dados) { %>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card text-center shadow">
                            <img src="../imagens/<%=dados.imagem %>" class="card-img-top">
                            <div class="card-header text-success fw-bold">
                                <%= dados.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fw-bold">
                                    <%=dados.nomeProduto %>
                                </h5>
                                <p class="card-text">
                                    <%=dados.descricao %>
                                </p>
                            </div>
                            <div class="card-footer">
                                <form method="post" action="../addCarrinho/<%=dados.id %>">
                                    <input type="hidden" name="produto_id" value="<%= dados.id %>">
                                    <div class="form-group">
                                        <label for="quantidade">Quantidade:</label>
                                        <input type="number" name="quantidade" id="quantidade" value="1" min="1" max="50">
                                    </div>
                                    <button type="submit" class="btn btn-success mt-2 d-block">
                                        Adicionar ao Carrinho
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                        

            </div>



        </div>
        </div>
        <!--ConteudoFim-->

        <!--Footer-->
        <footer class="shadow">
            <%- include('footer'); %>
        </footer>
        <!--FooterFim-->

</body>

</html>